body, h1, h2{
	margin:0;
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #cccccc;
	font-size: .9em;
}

#nav{
	position:absolute;
	height:100%;
	width:200px;
	background: rgba(0,0,0,0.75);
}

#map_container{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	z-index:-9999;
}
#map_canvas{
	width:100%;
	height:100%;
}

/************
 * Search
 ************/
#search{
	margin: 0 0 1em;
}
.search-row{	
}
.search-row label{
	width:50px;
	display:inline-block;
	text-align:right;
}
#search_zip{
	width: 40px;
}
.search-row input{
	width:50%;
}
#search_submit{
	margin:1em 0 0 10px;
}
#search_loading{
	display:none;
	margin: 0 0 0 30px;
}

/************
 * Results
 ************/
#search_results{
	display:none;
}
#result_list{
}
#result_message{
	display:none;
	color:#ff0000;
	font-weight:bold;
}
#pageCounter{
	border-top: 1px solid #CCCCCC;
	text-align: center;
}
.listing-long, .listing-lat, .listing-lng{
	display:none;
}
.listing-short{
	cursor: pointer;
	border-top: 1px solid #CCCCCC;
}
.listing-short-address{
	display: inline;
}
.listing-short-price{
	display: inline;
	color: #eeee00;
}

/************
 * 	Listing Info
 ************/
#listing_info{
	display: none;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	left: 300px;
	width: 70%;
	height: 250px;
}
#listing_info_close{
	float:right;
}
.listing-lower{
	clear:both;
	margin: 1em 0 0 0;
}
.listing-img{
	float:left;
	margin: 0 1em 1em 0;
}
.listing-long-address{
	font-weight:bold;
}
.listing-long-bed{
	display: inline;
	margin: 0 1em 0 0;
}
.listing-long-bath{
	display: inline;
}
